#header {
  width: 100%;
  height: auto;
  text-align: center;
  display: block;
  background-color: #F0F0F0;
}

#top-image {
    background-image:
    linear-gradient(to bottom, rgba(110, 93, 83, 0.52), rgba(110, 93, 83, 0.73);
    width: 100%;
    height: 500px;
    background-size: cover;
}

nav {
  position: sticky;
}

#right-image {
  object-fit: cover;
  float: right;
  width: 50%;
  height: 600px;
  background-color: white;
}

#container {
  background-color: #3d3a36;
  height: 600px;
  width: 50%;
  float: left;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: left;
  overflow: hidden;
  background-color: black;
  width: 100%;
  height: auto;
}

nav ul li {
  float: left;
  width: 33.333%;
}

nav ul li a {
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 10px 10px;
  color: white;
  font-size: 16px;
  font-family:  "Almarai", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

li a:hover {
  background-color: #6e5d53;
  color: white;
}

#logo {
   width: 200px;
   margin-top: 15px;
   margin-bottom: 15px;
}

body {
  font-family:  "Almarai", sans-serif;
  font-size: 16px;
  color: white;
}

#footer {
  background-color: #F0F0F0;
  height: 170px;
  width: 100%;
  clear: left;
  font-size: 12px;
  font-family: "Almarai", sans-serif;
}

#footer p, a {
  color: #5C5C5C;
  margin: 3px;
}

.center {
  text-align: center;
}

.img-footer {
  width: 120px;
  margin-top: 20px;
  margin-bottom: 20px;
}
