#header {
	width: 100%;
	height: auto;
	text-align: center;
	display: block;
	background-color: #f0f0f0;
}


#about-us-logo {
	display: block;
	width: 100%;
	height: 300px;
}

#about-us-container {
	display: inline-block;
	background-color: #3d3a36;
	height: auto;
	background-size: cover;
	width: 100%;
	text-align: center;
	text-wrap: wrap;
}

#about-us-textContainer {
	width: 50%;
	margin: 0 auto;
	padding: 20px;
}

nav {
	position: sticky;
}


#container {
	background-color: #3d3a36;
	height: 600px;
	width: 50%;
	float: left;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	float: left;
	overflow: hidden;
	background-color: #000;
	width: 100%;
	height: auto;
}

nav ul li {
	float: left;
	width: 33.333%;
}

nav ul li a {
	text-decoration: none;
	display: block;
	text-align: center;
	padding: 10px 10px;
	color: #fff;
	font-size: 16px;
	font-family: Almarai, sans-serif;
	text-transform: uppercase;
	font-weight: 700;
}

li a:hover {
	background-color: #6e5d53;
	color: #fff;
}

#logo {
	width: 200px;
	margin-top: 15px;
	margin-bottom: 15px;
}

body {
	font-family: Almarai, sans-serif;
	font-size: 16px;
	color: #fff;
}

#footer {
	background-color: #f0f0f0;
	height: 170px;
	width: 100%;
	clear: left;
	font-size: 12px;
	font-family: Almarai, sans-serif;
}

#footer p, a {
	color: #5c5c5c;
	margin: 3px
}

.center {
	text-align: center;
}

.img-footer {
	width: 120px;
	margin-top: 20px;
	margin-bottom: 20px;
}


.img {
  height: auto;
  width: 100%;
  object-fit: contain;
}

#spacer {
	margin-top: 5%;
}

#container {
  color: black;
  text-align: center;
  weight: 700;
  font-size: 20px;
}

#container p {
	line-height: 1.8;
	width: 60%;
	margin-left: 20%;
	margin-right: 20%;
	font-size: 18px;
	color: #5C5C5C;	
}

#column {
	padding-top: 5%;
	column-count: 3;
	text-align: center;
	column-gap: 0;
	column-width: 33.33%;
	padding-bottom: 5%;
}

#color {
	background-color: #F0F0F0;
	padding-top: 5%;
	padding-bottom: 5%;
}

#middle-container1 
 {
   text-align: center;
}

#middle-container2 
 {
   text-align: center;
}

#middle-container3 
 {
   text-align: center;
}


#middle-container1 img {
	border-radius: 50%;
	width: 200px;
	height: auto;
	margin-left: 50px;
	margin-right: 50px;
}

#middle-container2 img {
	border-radius: 50%;
	width: 200px;
	height: auto;
	margin-left: 50px;
	margin-right: 50px;
}
#middle-container3 img {
	border-radius: 50%;
	width: 200px;
	height: auto;
	margin-left: 50px;
	margin-right: 50px;
#portfolio-container {
	max-width: 1200px;
	margin: 20px auto;
	padding: 0 20px
}

.portfolio-gallery {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
	padding: 20px
}

.portfolio-image {
	display: flex;
	justify-content: center;
	align-items: center
}

.portfolio-image img {
	max-width: 100%;
	height: auto
}

h1 {
	color: #6e6e6e;
	padding-left: 10px;
	padding-top: 55px
}

h2 {
	color: #000
}

.contact-form {
	max-width: 800px;
	margin: 20px auto;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 15px;
	background-color: #3d3a36;
	text-align: center
}

.contact-form input[type=email],
.contact-form input[type=text] {
	width: 400px;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #6e6e6e;
	border-radius: 5px;
	box-sizing: border-box;
	font-family: Almarai, sans-serif
}

.contact-form input[type=submit] {
	width: 400px;
	padding: 10px;
	background-color: #000;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-family: Almarai, sans-serif
}

.contact-form input[type=submit]:hover {
	background-color: #6e5d53;
	color: #fff
}

#top-image {
	background-image: linear-gradient(to bottom, rgba(110, 93, 83, .52), rgba(110, 93, 83, .73));
	width: 100%;
	height: 100px;
	background-size: cover
}

#about-us-logo {
	display: block;
	width: 100%;
	height: 300px
}

#about-us-container {
	display: inline-block;
	background-color: #3d3a36;
	height: auto;
	background-size: cover;
	width: 100%;
	text-align: center;
	text-wrap: wrap
}

#about-us-textContainer {
	width: 50%;
	margin: 0 auto;
	padding: 20px
}

nav {
	position: sticky
}

#right-image {
	object-fit: cover;
	float: right;
	width: 50%;
	height: 600px;
	background-color: #fff
}

#container {
	background-color: #3d3a36;
	height: 600px;
	width: 50%;
	float: left
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	float: left;
	overflow: hidden;
	background-color: #000;
	width: 100%;
	height: auto
}

nav ul li {
	float: left;
	width: 33.333%
}

nav ul li a {
	text-decoration: none;
	display: block;
	text-align: center;
	padding: 10px 10px;
	color: #fff;
	font-size: 16px;
	font-family: Almarai, sans-serif;
	text-transform: uppercase;
	font-weight: 700
}

li a:hover {
	background-color: #6e5d53;
	color: #fff
}

#logo {
	width: 200px;
	margin-top: 15px;
	margin-bottom: 15px
}

body {
	font-family: Almarai, sans-serif;
	font-size: 16px;
	color: #fff
}

#footer {
	background-color: #f0f0f0;
	height: 170px;
	width: 100%;
	clear: left;
	font-size: 12px;
	font-family: Almarai, sans-serif
}

#footer p,
a {
	color: #5c5c5c;
	margin: 3px
}

.center {
	text-align: center
}

.img-footer {
	width: 120px;
	margin-top: 20px;
	margin-bottom: 20px
}

#portfolio-container {
	max-width: 1200px;
	margin: 20px auto;
	padding: 0 20px
}

.portfolio-gallery {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
	padding: 20px
}

.portfolio-image {
	display: flex;
	justify-content: center;
	align-items: center
}

.portfolio-image img {
	max-width: 100%;
	height: auto;
}


.contact-form {
	max-width: 800px;
	margin: 20px auto;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 15px;
	background-color: #3d3a36;
	text-align: center;
}

.contact-form input[type=email],
.contact-form input[type=text] {
	width: 400px;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #6e6e6e;
	border-radius: 5px;
	box-sizing: border-box;
	font-family: Almarai, sans-serif;
}

.contact-form input[type=submit] {
	width: 400px;
	padding: 10px;
	background-color: #000;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-family: Almarai, sans-serif;
}

.contact-form input[type=submit]:hover {
	background-color: #6e5d53;
	color: #fff;
}

#top-banner {
	position: relative;
	overflow: hidden;
	white-space: nowrap;
	background-image: linear-gradient(to bottom, rgba(110, 93, 83, .52), rgba(110, 93, 83, .73));
	width: 100%;
	height: 50px;
	line-height: 50px;
}

.scrolling-text p {
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0;
	line-height: 50px;
	white-space: nowrap;
	animation: scroll-text 40s linear infinite;
}

@keyframes scroll-text {
	100% {
		transform: translateX(-100%);
	}
}

#cycling-text {
	font-size: 28px;
	font-weight: 700;
	margin: 10px 0;
	text-align: left;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #ffffff;
	transition: all .5s ease;
}

#cycling-text:hover {
	-webkit-text-fill-color: initial;
}

#cta-button {
	background-color: #6e5d53;
	border: none;
	color: #fff;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	transition: background-color .5s ease;
}

#cta-button:hover {
	background-color: #b69c8e;
}

#home-container {
	position: relative;
	display: inline-block;
	background-color: #3d3a36;
	height: auto;
	background-size: cover;
	width: 100%;
	text-align: left;
	text-wrap: wrap;
	height: 300px;
}

#home-textContainer {
	width: 80%;
	margin: 0 auto;
	padding: 20px
}

#Cartoon {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 14%;
	height: auto;
}

#about-us-logo {
	display: block;
	width: 100%;
	height: 300px;
}

#about-us-container {
	display: inline-block;
	background-color: #3d3a36;
	height: auto;
	background-size: cover;
	width: 100%;
	text-align: center;
	text-wrap: wrap
}

