body {
  background-color: black;
  color: white;
  font-size: 16px;
}

#header {
  position: fixed;
  width: 100%;
  height: auto;
  text-align: center;
  display: block;
  background-color: #FBFBFB;
}

#logo {
   width: 200px;
   margin-top: 15px;
   margin-bottom: 15px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: left;
  overflow: hidden;
  background: black;
  color: #FBFBFB;
  width: 100%;
  height: auto;
  position: fixed;
}

nav ul li {
  float: left;
  width: 33.3333%;
}

nav ul li a {
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 20px 40px;
  color: black;
  font-size: 16px;
  font-family: "Frank Ruhl Libre", serif;
  font-weight: 700;
}

li a:hover {
  background-color: #6E5D53;
  color: #FBFBFB;
  display: block;
}

p a {
  text-decoration: none;
  color: #FBFBFB;
}
