#header {
  width: 100%;
  height: auto;
  text-align: center;
  display: block;
  background-color: #F0F0F0;
}

nav {
  position: sticky;
}

.img {
  height: auto;
  width: 100%;
  object-fit: contain;
}

#spacer {
	margin-top: 5%;
}

#container {
  color: black;
  text-align: center;
  weight: 700;
  font-size: 20px;
}

#container p {
	line-height: 1.8;
	width: 60%;
	margin-left: 20%;
	margin-right: 20%;
	font-size: 18px;
	color: #5C5C5C;	
}

#column {
	padding-top: 5%;
	column-count: 3;
	text-align: center;
	column-gap: 0;
	column-width: 33.33%;
	padding-bottom: 5%;
}

#color {
	background-color: #F0F0F0;
	padding-top: 5%;
	padding-bottom: 5%;
}

#middle-container1 
 {
   text-align: center;
}

#middle-container2 
 {
   text-align: center;
}

#middle-container3 
 {
   text-align: center;
}


#middle-container1 img {
	border-radius: 50%;
	width: 200px;
	height: auto;
	margin-left: 50px;
	margin-right: 50px;
}

#middle-container2 img {
	border-radius: 50%;
	width: 200px;
	height: auto;
	margin-left: 50px;
	margin-right: 50px;
}
#middle-container3 img {
	border-radius: 50%;
	width: 200px;
	height: auto;
	margin-left: 50px;
	margin-right: 50px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: left;
  overflow: hidden;
  background-color: black;
  width: 100%;
  height: auto;
}

nav ul li {
  float: left;
  width: 33.333%;
}

nav ul li a {
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 10px 10px;
  color: white;
  font-size: 16px;
  font-family:  "Almarai", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

li a:hover {
  background-color: #6e5d53;
  color: white;
}

#logo {
   width: 200px;
   margin-top: 15px;
   margin-bottom: 15px;
}

body {
  font-family:  "Almarai", sans-serif;
  font-size: 16px;
}

#footer {
  background-color: #F0F0F0;
  height: 170px;
  width: 100%;
  clear: left;
  font-size: 12px;
  font-family: "Almarai", sans-serif;
}

#footer p, a {
  color: #5C5C5C;
  margin: 3px;
}

.center {
  text-align: center;
}

.img-footer {
  width: 120px;
  margin-top: 20px;
  margin-bottom: 20px;
}
